.main{
    background-color: bisque;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    border: solid 1px black;
    box-shadow: 1px 2px 1px 1px;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
}

.button_div{
    display: flex;
    gap: 40px;
}

button{
    padding: 20px;
    font-size: 20px;
    background-color: rgb(0, 247, 25);
    color: rgb(0, 0, 0);
}
h1{
    font-size: 50px;
}